
/*BACKGROUND*/
* {

    margin: 0;
    padding: 0;
}

.header {
    min-height: 150vh;
    width: 100%;
    background-image: url("/IMG/B3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/*NAVIGATION*/
nav {
    display: flex;
    padding: 3% 8%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(199, 35, 214);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


nav .bi {
    display: none;
}

@media(max-width: 700px) {
    .text-info h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: rgb(107, 3, 98);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .bi {
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/*LOGO*/
.logo img {
    display: block;
  }

  /*BODY FOR TEXT*/

  .container {
    height: 500px; /* adjust the value as needed */
    overflow-y: auto;
  }
  
  
  /*TASK 1 TEXT*/
  .text-task1 {
    padding-top: 500px; /* adjust the value as needed */
  }

  .text-task1 {
    width: 90%;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-task1 h1 {
    font-size: 50px;
    color: white;
}

.text-task1 p {
    margin: 10px 0 40px;
    font-size: 15.5px;
    color: white;
    text-align: left;
}

  /*TASK 2 TEXT*/
  .text-task2 {
    padding-top: 300px; /* adjust the value as needed */
  }

  .container {
    height: 500px; /* adjust the value as needed */
    overflow-y: auto;
  }

  .text-task2 {
    width: 90%;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-task2 img {
    display: block;
    margin: 0 auto;
}

.text-task2 h1 {
    font-size: 50px;
    color: white;
    padding-top: 400px; /* adjust the value as needed */
}

.text-task2 p {
    margin: 10px 0 40px;
    font-size: 15.5px;
    color: white;
    text-align: left;
}
/*TASK 3*/
.text-task3 p {
    margin: 10px 0 40px;
    font-size: 15.5px;
    color: white;
    text-align: left;
}
  


  /*INFORMATION*/
.text-info {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-info h1 {
    font-size: 70px;
}

.text-info {
    padding-top: 200px; /* adjust the value as needed */
  }
.text-info p {
    margin: 10px 0 40px;
    font-size: 15.5px;
    color: white;
}

.info-btn {
    display: inline-block;
    text-decoration: underline;
    color: white;
    border: 1px solid palevioletred;
    padding: 12px 40px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.info-btn:hover {
    border: 1px solid palevioletred;
    background: palevioletred;
    transition: 1s;
}
/*HOMEPAGE*/
.text-home {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-home h1 {
    font-size: 70px;
    color: white;
}

.text-home p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}




